.display-1 {
    display: flex;
    justify-content: center;


}

.row-all {
    background-color: #061E45;
}

.prev-icon,
.next-icon {
    font-size: 24px;
    cursor: pointer;
}

.prev-icon {
    margin-left: 58rem;
    position: fixed;
    bottom: 5%;

}

.next-icon {
    margin-left: 10px;
    position: fixed;
    bottom: 5%;

}

.carousel-in {
    width: 50rem;
}

.image-dib {
    flex: 1;
    margin-left: 15px;
}

.main-contain {
    background-color: rgb(132, 132, 254);
    height: 33rem;

}

.card-2 {
    width: 16rem;
    height: 30rem;
    margin-left: 5rem;
}

.icon-all {
    width: 25px;
    height: 25px;
}

.category-title {
    font-size: 18px;
    font-weight: 400;
}

.carousel-item {
    height: 30rem;
}

.main-image {
    width: 100%;
    border-radius: 10px;
}

.main-age {
    width: 100%;
    border-radius: 10px;
}

.image-size {
    width: 30px;
}

.image-siz {
    width: 40px;
}

.account-size {
    font-size: 12px;
    margin-top: -7px;
}

.profile-line {
    margin-top: -1px;
}

.profile-line2 {
    margin-top: -2px;

}

.image-contain {
    width: 50%;

}





@media (max-width:400px) {
    .div2 {
        display: none;
    }

    .footer-help {
        padding-right: 15rem;
    }

    .footer-help2 {
        padding-left: 1.8rem;
        padding-top: 10px;
    }

    .footer-help3 {
        padding-left: 1.8rem;
        padding-top: 10px;
    }

    .image-contain {
        width: 50%;
        margin-right: 10rem;

    }

    .news-display {
        margin-top: 20px;
        margin-left: 12px;
    }

    .image-dib {
        width: 40rem;
        margin-left: 2px;
    }

    .carousel-item {
        height: 30rem;

    }

    .main-image {
        width: 100%;
        height: 30rem;
    }




    .carousel-item {
        height: 15rem;

        margin-left: 10px;
    }

    .smallmage {
        display: none;
    }


    .card-2 {
        display: none;
    }

    .carousel-in {
        width: 23rem;
        height: 13rem;
    }
}