.message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    animation: fadeOut 2s linear forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}