.containerr {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 90%;
  border-radius: 20px !important;
  transform: translateX(-50%);
  margin: auto;
}

.custom-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* Styles for the previous button */
.custom-button-prev {
  background-color: #007bff;
  /* Change the background color as needed */
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}


.display-all {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
  animation-timing-function: .3s ease;
}

@keyframes move {
  0% {
    top: 70px
  }

  100% {
    top: 30px
  }
}

.big-card {
  position: relative;
  border-radius: 10px;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
}

.card-collection {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  top: 52%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.category-name {
  font-weight: bold;
}

.category-subname {
  font-weight: 400;
  margin-top: 10px;
  font-size: 18px;
}

.card-collection h2 {
  white-space: nowrap;
}

.auction-box {
  position: relative;
  padding: 1rem;
  width: 70%;
  margin-top: 30px;
  border: 3px solid #28a745;
  border-radius: 20px;
  background-color: white;
}

.bid-label {
  position: absolute;
  top: -17px;
  left: 10px;
  background-color: #fff;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 600;
}

.bid-details {
  margin-top: 20px;
}

.bid-amount {
  font-size: 30px;
  font-weight: 600;
  color: #28a745;
}

.bid-currency {
  font-size: 14px;
  color: #6c757d;
}

.cut-off::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-top: 3px solid #28a745;
  border-left: 3px solid #28a745;
  border-radius: 0 0 0 20px;
}

.big-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 10px;
}





.card-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card-carousel::-webkit-scrollbar {
  display: none;
}

.card-body h2 {
  color: white;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.section-header {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header2 {
  margin-top: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin: 0 20px;
}


.section-divider {
  border: none;
  border-top: 1px solid #ccc;
  flex-grow: 1;
}

.section-divider-left {
  margin-right: 10px;
}

.section-divider-right {
  margin-left: 10px;
}

.img-div {
  height: 30rem;
  width: 57%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  z-index: 0
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
}

.custom-slide {
  width: 150px;

}

.small-card {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);


  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.small-image {
  width: 65%;
  height: 5rem;
  border-radius: 10px;

}

.wrapper {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  width: 100%;
}

.card-all {
  display: block;
  position: absolute;
  top: 25px;
  margin: 0 auto;
  width: 350px;
  background-color: #fff;
  border-radius: 15px;

  box-shadow: 0 30 50 rgba(0, 0, 0, 0.2);

  transform: translateX(-50%);
  transition: left 0.5s ease-out;
  will-change: left;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.card--19 {
  left: 50%;
}

.card--solstice,
.card--huarache {
  left: 150%;
}

.card__header {
  position: relative;
  height: 170px;
  padding: 30px 30px 300px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #fff;
}

.card__header--19 {
  background-color: #F72648;
  background-image: linear-gradient(#F72648, #FCCB3C);

  background: #F72648;
  background: linear-gradient(#F72648, #FCCB3C);
}

.card__header--solstice {
  background-color: #3CA3FC;
  background-image: linear-gradient(#3CA3FC, #FFD300);

  background: #3CA3FC;
  background: linear-gradient(#3CA3FC, #FFD300);
}

.card__header--huarache {
  background-color: #26C9F7;
  background-image: linear-gradient(#26C9F7, #DFFC3C);

  background: #26C9F7;
  background: linear-gradient(#26C9F7, #DFFC3C);
}

.card__watermark {
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.card__watermark::after {
  content: attr(data-watermark);
  position: relative;
  left: -20px;
  color: rgba(0, 0, 0, .3);
  font-size: 240px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__logo {
  width: 50px;
  height: auto;
}

.card__price {
  float: right;
  font-size: 16px;
  font-weight: 300;
}

.card__title {
  margin: 35px 0 20px;
  font-size: 15px;
  line-height: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.card__subtitle {
  display: block;
  font-size: 13px;
  font-weight: 300;
}



.card__image {
  z-index: 1;
  position: absolute;
  top: -290px;
  left: -30px;
  width: 125%;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card__wish-list {
  display: block;
  width: 50%;
  margin: 0 auto 15px;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
}

.swiper-button-next {
  right: 50px;

}

.card__wish-list--19 {
  color: #8850FF;
  border-color: #8850FF;
}

.card__wish-list--solstice {
  color: #FFBA00;
  border-color: #FFBA00;
}

.card__wish-list--huarache {
  color: #26C9F7;
  border-color: #26C9F7;
}

.card__category {
  display: block;
  font-size: 12px;
  color: #AEAEAE;
  text-transform: uppercase;
  text-align: center;
}

.card__will-animate {
  will-change: transform;
}

.cards-placeholder {
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}

/* .category {
  min-width: 20%;
  height: 14rem;
} */

.main-div {
  background-color: whitesmoke;
  display: flex;
  justify-content: end;

  position: relative;
  top: 6rem;
  right: 110px;
}

.img-div4 {
  width: 57%;
  border-radius: 10px;
  border: 20px solid white;
}

.text-display {
  font-size: 16px;
  font-weight: bold;
}

.walking-div {
  position: absolute;
  border: 0px;
  width: 35%;
  left: 100px;
  top: 100px;
  height: 40rem;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 40px !important;
}

.cards-placeholder__item {
  opacity: 0.3;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  width: 30px;
  height: 5px;
  border-radius: 5px;

  transition: opacity 0.2s;
  will-change: opacity;
}

.top-div {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.images {
  width: 100%;
}

/* Add these styles to your CSS */
.category-purple {
  background-color: purple;
}

.category-blue {
  background-color: blue;
}

.category-green {
  background-color: green;
}

.category-red {
  background-color: red;
}

/* Default color for unknown categories */
.category-default {
  background-color: gray;
}

.img-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Hide the scrollbar thumb */
}

.img-container::-webkit-scrollbar {
  width: 0rem;
}

.img-container {
  scrollbar-width: none;
  /* overflow: hidden; */
  /* position: relative; */

}

#scrollingContent {
  display: flex;
  gap: 5px;
  animation: scrollHorizontally 10s linear infinite;
}

@keyframes scrollHorizontally {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% + 800px));
  }
}

/* Add this CSS in your stylesheet or component's style block */
.categories-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
} */

.category-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.category-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.category-image {
  width: 70%;
  /* Adjust the size as needed */
  height: 100px;
  /* Adjust the size as needed */
  border-radius: 10px;
}


/* .category {
  
  transition: transform 0.3s, box-shadow 0.3s, z-index 0.3s;
  
} */

.img-awesome::-webkit-scrollbar-thumb {
  background-color: transparent;

}

.img-awesome::-webkit-scrollbar {
  width: 0rem;
}

.img-awesome {
  scrollbar-width: none;

}



.category:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  animation: pulse 1.5s infinite;
}

.category:active h4 {


  color: darkblue;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;

}


@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}



.popup-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}



.cards-placeholder__item--active {
  opacity: 1;
}

.img-object {
  color: transparent;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
}



.button-display {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 4rem !important;
  padding-left: 4rem !important;
  font-size: 20px !important;
  font-weight: bolder;

}

.collections {
  min-width: 30%;
}


@media (max-width:693px) {
  .containerr {
    position: static;
    transform: translate(0);
    width: 99%;
  }

  .section-title {
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin: 0 20px;
  }

  .category-subname {
    font-weight: 400;
    margin-top: 2px;
    font-size: 18px;
  }

  .category-name {
    font-weight: bold;
    text-align: center;
  }


  .flex3-design {
    width: 0% !important;
    height: 16rem !important;
  }

  .section-header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-object {
    color: transparent;
    z-index: 1;
    border-radius: 10px;
    width: 100%;
  }

  .collections {
    min-width: 100%;
  }

  .category-name {
    font-weight: bold;
    font-size: 22px;
  }

  .category-subname {
    font-weight: 400;
    text-align: center;

  }

  .section-header2 {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-display {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
  }

  .top-div {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .img-container {
    display: flex;
    gap: 3px;
    overflow: auto;

  }

  .category {
    min-width: 90%;
  }

  .main-div {
    display: block;
    background-color: whitesmoke;
    width: 100%;
    position: static;
    margin-top: 20px;
    margin-left: 20px;
  }

  .img-div4 {
    width: 100%;
  }

  .walking-div {
    position: static !important;
    border: 0px;
    width: 100%;
    margin-top: 2rem;
    margin-right: 20%;

    /* height: 40rem; */

    border-radius: 10px;
  }





}

@media (max-width:751px) {
  .containerr {
    position: static;
    transform: translate(0);
    width: 99%;
  }

  .section-title {
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin: 0 20px;
  }

  .category-subname {
    font-weight: 400;
    margin-top: 2px;
    font-size: 18px;
  }

  .category-name {
    font-weight: bold;
    text-align: center;
  }


  .flex3-design {
    width: 0% !important;
    height: 16rem !important;
  }

  .section-header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-object {
    color: transparent;
    z-index: 1;
    border-radius: 10px;
    width: 100%;
  }

  .collections {
    min-width: 100%;
  }

  .category-name {
    font-weight: bold;
    font-size: 22px;
  }

  .category-subname {
    font-weight: 400;
    text-align: center;

  }

  .section-header2 {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-display {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
  }

  .top-div {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .img-container {
    display: flex;
    gap: 3px;
    overflow: auto;

  }

  .category {
    min-width: 90%;
  }

  .main-div {
    display: block;
    background-color: whitesmoke;
    width: 100%;
    position: static;
    margin-top: 20px;
    margin-left: 20px;
  }

  .img-div4 {
    width: 100%;
  }

  .walking-div {
    position: static !important;
    border: 0px;
    width: 100%;
    margin-top: 2rem;
    margin-right: 20%;

    /* height: 40rem; */

    border-radius: 10px;
  }





}

/* @media (max-width:751px) {
  .containerr {
    position: static;
    transform: translate(0);
    width: 99%;
  }

  .category-subname {
    font-weight: 400;
    margin-top: 2px;
    font-size: 18px;
  }

  .category-name {
    font-weight: bold;
    text-align: center;
  }


  .flex3-design {
    width: 0% !important;
    height: 16rem !important;
  }

  .section-header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-object {
    color: transparent;
    z-index: 1;
    border-radius: 10px;
    width: 100%;
  }

  .collections {
    min-width: 100%;
  }

  .category-name {
    font-weight: bold;
    font-size: 22px;
  }

  .category-subname {
    font-weight: 400;
    text-align: center;

  }

  .section-header2 {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-display {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
  }

  .top-div {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .img-container {
    display: flex;
    gap: 3px;
    overflow: auto;

  }

  .category {
    min-width: 90%;
  }

  .main-div {
    display: block;
    background-color: whitesmoke;
    width: 100%;
    position: static;
    margin-top: 20px;
    margin-left: 20px;
  }

  .img-div4 {
    width: 100%;
  }

  .walking-div {
    position: static !important;
    border: 0px;
    width: 100%;
    margin-top: 2rem;
    margin-right: 20%;

    

    border-radius: 10px;
  }





} */